!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @feedback.name
      %br/
      = @feedback.email
    %h3
      = @feedback.message

    