.nested-fields
  = f.input :product_id, collection: Product.pluck(:name, :id),
    label: (t :label, scope: 'diets.new.restrictions'), placeholder: true
  = link_to_remove_association (t :remove, scope: 'diets.new.restrictions'), f
