- if controller_name != 'sessions'
  = link_to "Sign in", new_session_path(resource_name), class: 'custom-font form-control s-o-form forgot-link-style btn'
  %br
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "Forgot your password?", new_password_path(resource_name), class: 'custom-font form-control s-o-form forgot-link-style btn'
  %br
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Sign up as client", new_user_registration_path(role: :client), class: 'custom-font form-control s-form float forgot-link-style btn margin-380-10'
  = link_to "Sign up as nutritionist", new_user_registration_path(role: :nutritionist), class: 'custom-font form-control s-form float forgot-link-style btn'
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br/
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
    %br/
