.jumbotron
  .jumbotron-text
    %p.title delicio
    %p.sub-title= t :title, scope: 'about_us'
    = link_to (t :sign_up, scope: 'about_us'), new_user_registration_path(role: :client), class: 'btn'
.intro
  %h1= t :body, scope: 'about_us'
  .intro-content
    .intro-article
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .img-block
      =image_tag "girl.jpg", class: 'img-for-about-us'
      %p
        = t :name, scope: 'about_us'
        %br/
        = t :nutritionist, scope: 'about_us'
  .intro-btn
    = link_to (t :sign_up_as_nutritionist, scope: 'about_us'), new_user_registration_path(role: :nutritionist), class: 'btn'
.slogan
  %p
    = t :with_delicio, scope: 'about_us'
.form-section
  %h1= t :question, scope: 'about_us'
  .row
    .col-5
      .contacts-section
        %p
        = t :contact, scope: 'about_us'
        %p
        = t :address, scope: 'about_us'
        %p
        +38(097) 777 77 77
    .col-7
      = render "partials/feedback_form"
.social-section
  %a{href: "https://www.facebook.com/", target: "_blank"}
    %i.fab.fa-facebook
  %a{href: "https://telegram.org/", target: "_blank"}
    %i.fab.fa-telegram
  %a{href: "https://www.youtube.com/", target: "_blank"}
    %i.fab.fa-youtube
%script{src: "https://kit.fontawesome.com/4128a09af2.js"}
