.nested-fields
  = f.input :product_id, collection: Product.pluck(:name, :id),
        placeholder: true, label: (t :label, scope: 'diets.new.recommendations')
  = link_to_remove_association (t :remove, scope: 'diets.new.recommendations'), f
