.container
  #intro
    .site-heading
      - if !@article.title.nil?
        = @article.title
      - else
        = t :write_article, scope: 'articles.new'
    #intro-image
  .card-body
    = simple_form_for(article) do |form|
      .form-label-group
        = form.input :topic_id, placeholder: 'Choose topic', label: (t :choose_topic, scope: 'articles.new') do
          = form.select :topic_id, options_for_select(      |
          Topic.all.map{ |topic| [topic.name, topic.id]}) |
        = form.input :user_id, as: :hidden, input_html: { value: current_user.id }
        = form.input :image, label: false, type: :file

        - if @article.image?
          = image_tag @article.image.url(:medium).to_s, class: 'img-form-for-pictures'

        = form.input :title, placeholder: (t :title, scope: 'articles.new'), label: false
        = form.input :content, placeholder: (t :content, scope: 'articles.new'), label: false, placeholder: true, as: :trix_editor
        .row.justify-content-md-center
          .col-md-auto
            = form.button :button, type: :submit, class: 'btn btn-primary'
  .row.justify-content-md-center.low-btn
    - if policy(@article).destroy?
      = button_to (t :delete, scope: 'articles'), @article, method: :delete, class: 'btn btn-primary'
