.container
  #intro
    .site-heading
      = t :articles, scope: 'articles.index'
      - if policy(:article).create?
        = button_to (t :new_article, scope: 'articles.index'), new_article_path, method: :get, class: 'btn btn-primary'
    #intro-image
  .row
    - @articles.each do |article|
      .col-md-5
        .p-2
          - if article.image?
            = image_tag article.image.url , class: 'img-form-for-pictures'
      .col-md-7
        .p-2
          %h3= link_to article.title, article_path(article), method: :get
          .ellipsis
            .overflow.ellipsis#articles_description_custom
              %p= article.content.html_safe
          %a= button_to (t :read, scope: 'articles.index'), article_path(article), method: :get, class: 'btn btn-primary'
