.container
  #intro
    .site-heading
      = @article.title
      - if @article.image?
        = image_tag @article.image.url(:medium), class: 'img-form-for-pictures'
      .row
        - if policy(@article).update?
          = link_to (t :edit, scope: 'articles.show'), edit_article_path(@article), method: :get, class: 'btn btn-primary'
    #intro-image
  .section-header
    %p= @article.content.html_safe
  .row.justify-content-md-center
    .col-md-auto
      - if policy(@article).destroy?
        = link_to (t :delete, scope: 'articles'), @article, method: :delete, class: 'btn btn-primary'
  .row.justify-content-md-center.low-btn
    = link_to (t :all_articles, scope: 'articles.show'), articles_path, class: 'btn btn-primary'
