%body
  #intro
    .site-heading
      = t :write_topic, scope: 'topics.new'
    #intro-image
  .card-body
    = simple_form_for(topic) do |form|
      .form-label-group
        = form.input :name, placeholder: (t :title, scope: 'topics.new'), label: false
        = form.input :description, placeholder: (t :description, scope: 'topics.new'), label: false
        .row.justify-content-md-center
          .col-md-auto
            = form.button :button, type: :submit, class: 'btn btn-primary'
  .row.justify-content-md-center.low-btn
    - if policy(@topic).destroy?
      = button_to (t :delete, scope: 'topics'), @topic, method: :delete, class: 'btn btn-primary'
