.container
  #intro
    .site-heading
      = t :topics, scope: 'topics.index'
      - if policy(:topic).create?
        = button_to (t :new_topic, scope: 'topics.index'), new_topic_path, method: :get, class: 'btn btn-primary'
    #intro-image
  .row
    - @topics.each do |topic|
      .col-md-5
        .p-2
          %a{href: "#"}
            %img.img-fluid.rounded-circle{alt: "", src: "https://www.vibrantplate.com/wp-content/uploads/2018/05/Quinoa-buddha-bowl-03-720x720.jpg"}/
      .col-md-7
        .p-2
          %h3= link_to topic.name, topic_path(topic), method: :get
          .ellipsis
            .overflow.ellipsis
              %p= topic.description.html_safe
          %a= button_to (t :read, scope: 'topics.index'), topic_path(topic), method: :get, class: 'btn btn-primary'
