.container
  #intro
    .site-heading
      = @topic.name
      .row
        - if policy(:topic).update?
          = link_to (t :edit, scope: 'topics.show'), edit_topic_path(@topic), method: :get, class: 'btn btn-primary'
    #intro-image
  .section-header
    %p= @topic.description.html_safe
  .row.justify-content-md-center
    .col-md-auto
      = link_to (t :delete, scope: 'topics'), @topic, method: :delete, class: 'btn btn-primary'
  = render partial: 'articles/articles_preview', collection: @topic.articles, as: :article
  .row.justify-content-md-center.low-btn
    = link_to (t :all_topics, scope: 'topics.show'), topics_path, class: 'btn btn-primary'
