.container
  #intro
    .site-heading
      - if !@recipe.name.nil?
        = @recipe.name
      - else
        = t :new_recipe, scope: 'recipes.new'
    #intro-image
  .card-body
    = simple_form_for(recipe) do |f|
      .form-label-group
        = f.input :image, label: false, type: :file
        - if @recipe.image?
          = image_tag @recipe.image.url(:medium).to_s, class: 'img-form-for-pictures'

        = f.input :name, placeholder: (t :name, scope: 'recipes.new'), label:false
        = f.input :description, as: :text, placeholder: (t :description, scope: 'recipes.new'), label:false
        = f.input :preparation_kind, placeholder: (t :preparation_kind, scope: 'recipes.new'), collection: Recipe::PREPARATION_KINDS, label:false, prompt: (t :preparation_kind, scope: 'recipes.new')
        = f.input :preparation_time, placeholder: (t :preparation_time, scope: 'recipes.new'), label:false
      %h3= t :ingredients, scope: 'recipes.new'
      #ingredients
        = f.simple_fields_for :ingredients do |ingredient|
          = render 'ingredient_fields', f: ingredient
        = link_to_add_association (t :add_ingredient, scope: 'recipes.new'), f, :ingredients
        .row.justify-content-md-center
          .col-md-auto
            = f.button :button, type: :submit, class: 'btn btn-primary'
  .row.justify-content-md-center.low-btn
    - if policy(:recipe).destroy?
      = button_to (t :delete, scope: 'recipes'), @recipe, method: :delete, class: 'btn btn-primary'
