.col-lg-3.col-md-4.col-sm-6.mb-4
  - if ingredient.product.image?
    = image_tag ingredient.product.image.url(:medium), class: 'img-form-for-pictures'
  .card-title
    = ingredient.product.name
  .card-text
    = "#{ingredient.weight} grams"
