.card-body
  = f.input :weight, placeholder: (t :weight, scope: 'recipes.new'), label:false
  = f.input :product_id, label: 'Product', collection: Product.pluck(:name, :id), placeholder: true, label:false, prompt: (t :products, scope: 'recipes.new')
  = link_to_remove_association (t :remove, scope: 'recipes.new'), f
