.container
  #intro
    .site-heading
      = t :recipes, scope: 'recipes.index'
      - if policy(:recipe).create?
        = button_to (t :new_recipe, scope: 'recipes.index'), new_recipe_path, method: :get, class: 'btn btn-primary'
    #intro-image
  .row
    - @recipes.each do |recipe|
      .col-md-5
        .p-2
          - if recipe.image?
            = image_tag recipe.image.url, class: 'img-form-for-pictures'
      .col-md-7
        .p-2.text-left
          %h3= link_to recipe.name, recipe_path(recipe)
          %p= recipe.description
          %a= button_to (t :cook, scope: 'recipes.index'), recipe_path(recipe), method: :get, class: 'btn btn-primary'
