#intro
  .site-heading
    = @recipe.name
    - if @recipe.image?
      = image_tag @recipe.image.url(:medium), class: 'img-form-for-pictures'
    .row
      .col
        = t :products_need, scope: 'recipes.show'
        = @recipe.products.count
      .col
        = t :preparation_time, scope: 'recipes.show'
        = @recipe.preparation_time
      .col
        = t :preparation_kind, scope: 'recipes.show'
        = @recipe.preparation_kind
    .row
      - if policy(:recipe).update?
        = button_to (t :edit, scope: 'recipes.show'), edit_recipe_path(@recipe), method: :get, class: 'btn btn-primary'
  #intro-image
.section-header
  %h4= t :description, scope: 'recipes.show'
  %p= @recipe.description

  %h4= t :ingredients, scope: 'recipes.show'
  .row
    = render partial: 'ingredient_preview', collection: @recipe.ingredients, as: :ingredient

