= simple_form_for @feedback do |f|
 = f.input :name, label: false, placeholder: (t :name, scope: 'about_us.form')
 = f.input :email, label: false, placeholder: (t :email, scope: 'about_us.form')
 = f.input :message, as: :text, label: false, placeholder: (t :question, scope: 'about_us.form'), input_html: { rows: 10 }
 = f.button :submit, (t :send, scope: 'about_us.form')
