.container-fluid
  .sign-in-page-top
    .sign-in-page-top-text
      %p.text-title delicio
      %p.under-text-title Makes your life tastier!
  .row
    .col-xs-12.col-md-12
      %h5.custom-font.mb-md-3.text-center.sign-in Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: 'form-control oval-form'
  .actions
    = f.submit "Send reset password", class: 'btn-password'
= render "devise/shared/links"
