.container-fluid
  .row
    .offset-md-4.col-md-4
      = simple_form_for(profile, url: user_profiles_path, action: 'update', method: :put) do |f|
        = f.input :first_name
        = f.input :last_name
        = f.input :nickname
        = f.submit "Update", class: 'btn btn-primary'
