.container-fluid
  .sign-in-page-top
    .sign-in-page-top-text
      %p.text-title delicio
      %p.under-text-title Makes your life tastier!
  .row
    .col-md-12
      %h5.custom-font.mb-md-3.text-center.sign-in Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.text_field :email, autofocus: true, autocomplete: "email",:placeholder => "Email", class: "form-control oval-form"
        .form-group
          = f.password_field :password, autocomplete: "current-password", :placeholder => "Password", class: "form-control oval-form"
        - if devise_mapping.rememberable?
          .checkbox.custom-font.text-center
            = f.check_box :remember_me
            = f.label :remember_me
        = f.submit "Sign in", class: 'btn-sign-in-out'
      = render "devise/shared/links"
