%body
  #intro
    .site-heading
      = t :title, scope: 'allergies.new'
    #intro-image
  .card-body
    = simple_form_for(allergy) do |f|
      .form-label-group
        = f.input :image, label: false, type: :file
        - if @allergy.image?
          = image_tag @allergy.image.url(:medium).to_s, class: 'img-form-for-pictures'
        = f.input :name, placeholder: (t :name, scope: 'allergies.new'), label: false
        = f.input :description, placeholder: (t :description, scope: 'allergies.new'), label: false
        = f.simple_fields_for :restrictions do |restriction|
          = render 'restrictions/restriction_fields', f: restriction
        .links
          = link_to_add_association (t :restriction, scope: 'allergies.new'), f,
            :restrictions, partial: '/restrictions/restriction_fields'
        .row.justify-content-md-center
          .col-md-auto
            = f.button :button, type: :submit, class: 'btn btn-primary'
