.container
  #intro
    .site-heading
      = t :label, scope: 'allergies.index'
      - if policy(:allergy).create?
        = button_to (t :new_allergy, scope: 'allergies.index'), new_allergy_path, method: :get, class: 'btn btn-primary'
    #intro-image
  .row
    - @allergies.each do |allergy|
      .col-md-5
        .p-2
          - if allergy.image?
            = image_tag allergy.image.url(:medium), class: 'img-form-for-pictures'
      .col-md-7
        .p-2
          %h3= link_to allergy.name, allergy_path(allergy), method: :get



