.container
  #intro
    .site-heading
      = @allergy.name
      .row
        - if policy(:allergy).update?
          = button_to (t :edit, scope: 'allergies.show'), edit_allergy_path(@allergy), method: :get, class: 'btn btn-primary'
    #intro-image
.section-header
  %p= @allergy.description
  = render partial: 'restrictions/restriction',
    collection: @allergy.restrictions, as: :restriction
.row.justify-content-md-center
  .col-md-auto
    - if policy(:allergy).destroy?
      = button_to (t :remove, scope: 'allergies.show'), @allergy, method: :delete, class: 'btn btn-primary'
  #intro-image
.section-header
  %h4= t :recipes, scope: 'diets.show'
.row
  - @recipes.each do |recipe|
    .col-sm-3
      - if recipe.image?
        = image_tag recipe.image.url, class: 'img-form-for-pictures', id: 'round_recipe_image'
    .col-sm-9
      .p-2.text-center
        %h4.card-title.text-left
          = link_to recipe.name, recipe_path(recipe)
        .row
          .col.recepies_params.text-left
            = t :products_need, scope: 'recipes.show'
            = recipe.products.size
          .col.recepies_params.text-center
            = t :preparation_time, scope: 'recipes.show'
            = recipe.preparation_time
          .col.recepies_params.text-right
            = t :preparation_kind, scope: 'recipes.show'
            = recipe.preparation_kind
        .description.text-left.overflow.ellipsis
          = recipe.description
      .row.float-right
        %a= button_to (t :cook, scope: 'recipes.index'), recipe_path(recipe), method: :get, class: 'btn btn-primary float-right'
