#headline
  %h3= t :title, scope: 'diets.edit'
.container
  = simple_form_for(@diet, defaults: { required: false }) do |f|
    .row.mt-2
      .col-4.text-center.ml-2
        = f.input :image, as: :file, label: false, type: :file
        - if @diet.image.exists?
          = image_tag @diet.image.url, class: 'img-form-for-pictures'
      .col-6.form-label-group
        = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
        = f.input :name, label: (t :name, scope: 'diets.new')
        = f.input :description, label: (t :description, scope: 'diets.new')
      .col-4.ml-2.form-label-group
        .links.text-center
          .d-block
            = link_to_add_association (t :restriction, scope: 'diets.new'), f, :restrictions,
              partial: '/restrictions/restriction_fields'
          .d-block
            = link_to_add_association (t :recommendation, scope: 'diets.new'), f, :recommendations,
              partial: '/recommendations/recommendation_fields'
      .col-6.text-left.ml-3
        = f.submit (t :update, scope: 'diets.edit'), :class => 'btn btn-outline-primary', :id=>'diet_buttons'
