.container
  #intro
    .site-heading
      = t :title, scope: 'diets.index'
      - if policy(:diet).create?
        = button_to (t :new_diet, scope: 'diets.index'), new_diet_path, method: :get, :class => 'btn btn-outline-primary'
    #intro-image
  .row
    - @diets.each do |diet|
      .col-md-5
        .p-2
          - if diet.image?
            = image_tag diet.image.url(:medium), class: 'img-form-for-pictures'
      .col-md-7
        .p-2.text-left
          %h3= link_to diet.name, diet_path(diet)
          .row
            .col.recepies_params.text-left
              = t :recipes, scope: 'recipes.index'
              = RecipesByDietQuery.new(diet.id).recipes_count
          .description.text-left.overflow.ellipsis
            = diet.description
          %a= button_to (t :choose_diet, scope: 'diets.index'), diet_path(diet), method: :get, :class => 'btn btn-primary'

