#headline-2
  %h3= t :title, scope: 'diets.new'
.container-fluid
  = simple_form_for(@diet, defaults: { required: false }, multipart: true) do |f|
    .row.mt-3
      .col-4.text-center
        %img.card-img-top-edit
        .links
          .d-block
            = link_to_add_association (t :restriction, scope: 'diets.new'), f, :restrictions,
              partial: '/restrictions/restriction_fields'
          .d-block
            = link_to_add_association (t :recommendation, scope: 'diets.new'), f, :recommendations,
              partial: '/recommendations/recommendation_fields'

      .col-5.form-label-group
        = f.input :image, as: :file, label: false, type: :file
        = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
        = f.input :name, label: (t :name, scope: 'diets.new')
        = f.input :description, label: (t :description, scope: 'diets.new')
        = f.submit (t :create, scope: 'diets.new'), :class => 'btn btn-outline-primary', :id=>'diet_buttons'
