#intro
  .site-heading
    = @diet.name
    - if @diet.image?
      = image_tag @diet.image.url(:medium), class: 'img-form-for-pictures'
    .row
      .col
        = t :recipes, scope: 'recipes.index'
        = @recipes.size
    .row
      .col
        - if policy(@diet).update?
          = button_to (t :edit, scope: 'diets.show'), edit_diet_path(@diet), method: :get, :class => 'btn'
      .col
        - if policy(@diet).destroy?
          = button_to (t :remove, scope: 'diets.show'), @diet, method: :delete, :class => 'btn'
  #intro-image
.section-header
  %h4= t :description, scope: 'diets.show'
  %p= @diet.description
  .row
    .col.text-left
      %h4= t :restrictions, scope: 'diets.show'
      %p= render partial: 'restrictions/restriction',      |
          collection: @diet.restrictions, as: :restriction |
    .col.text-left
      %h4= t :recommendations, scope: 'diets.show'
      %p=render partial: 'recommendations/recommendation',      |
          collection: @diet.recommendations, as: :recommendation |
  %h4= t :recipes, scope: 'diets.show'
.row
  - @recipes.each do |recipe|
    .col-sm-3
      - if recipe.image?
        = image_tag recipe.image.url, class: 'img-form-for-pictures', id: 'round_recipe_image'
    .col-sm-9
      .p-2.text-center
        %h4.card-title.text-left
          = link_to recipe.name, recipe_path(recipe)
        .row
          .col.recepies_params.text-left
            = t :products_need, scope: 'recipes.show'
            = recipe.products.size
          .col.recepies_params.text-center
            = t :preparation_time, scope: 'recipes.show'
            = recipe.preparation_time
          .col.recepies_params.text-right
            = t :preparation_kind, scope: 'recipes.show'
            = recipe.preparation_kind
        .description.text-left.overflow.ellipsis
          = recipe.description
      .row.float-right
        %a= button_to (t :cook, scope: 'recipes.index'), recipe_path(recipe), method: :get, class: 'btn btn-primary float-right'
