.jumbotron {
  min-height: 600px;
  background-image: asset-data-url("jumbotron.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  margin: 0;
}

.jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.title {
  font-family: lato;
  font-size: 50px;
  color: white;
}

.sub-title {
  font-family: lato;
  font-size: 60px;
  color: white;
}

.intro {
  padding: 50px;
  min-height: 370px;
  background-color: white;
}

.intro-content {
  display: flex;
  align-items: center;
}

.img-for-about-us {
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin: 30px;
  background-image: asset-data-url("girl.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.intro-article {
  margin-right: 40px;
  padding-left: 15px;
  font-family: roboto;
}

.intro h1 {
  font-family: lato;
  text-align: center;
  padding-bottom: 10px;
}

.img-block p {
  text-align: center;
  font-family: roboto;
  padding-top: 20px;
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.slogan {
  min-height: 300px;
  background-image: asset-data-url("jumbotron.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: top;
  margin: 0;
}

.slogan p {
  text-align: center;
  padding-top: 100px;
  font-family: lato;
  font-size: 35px;
  color: white;
}

.form-section {
  padding-right: 100px;
  min-height: 600px;
  background-color: white;
}

.form-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: lato;
  color: grey;
}

.btn {
  color: white;
  background: coral;
  padding: 7px 30px;
  border-radius: 100px;
  font-family: roboto;
  border: 0;
  width: 200px;
}

#feedback_message {
  border-radius: 13px;
  padding: 20px;
  border: 1px solid grey;
  height: 250px;
  width: 100%;
}

#feedback_email {
  border: 1px solid grey;
}

#form-about-us {
  width: 85%;
  background-color: #ff6138;
  padding: 7px 30px;
  border-radius: 100px;
  font-family: roboto;
  border: 0;
}

input[name="feedback[message]"] {
  height: 250px;
  width: 100%;
}

input[type="text"], [type="email"] {
  border-radius: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.contacts-section {
  padding-left: 100px;
  font-size: 27px;
  font-weight: bold;
  font-family: roboto;
  color: grey;
}

.form-control {
  border-radius: 13px;
  border: 1px solid black;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-image: asset-data-url("jumbotron.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: top;
  margin: 0;
}

.fab {
  padding: 0 10px;
  font-size: 60px;
  color: white;
}

.social-section a {
  color: white;
}

.alert {
  position: fixed;
  padding: 5px 30px;
  left: 0;
  width: 100%;
}
