@import "bootstrap";
@import 'trix';
@import 'about_us';
@import 'articles';
@import 'recipes';
@import 'topics';
@import 'diets';
@import 'product';
@import 'sessions';

body {
  min-height: 50rem;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 58px;
  box-sizing: border-box;
}

@font-face {
   font-family: roboto;
   src: asset_url('RobotoSlabRegular.ttf');
   font-family: lato;
   src: asset_url('Lato-BoldItalic.ttf');
}

.custom-font {
  background: white;
  color: grey;
  font-family: roboto;
}

.footer {
  overflow: hidden;
  position: absolute;
  left: 470px;
  bottom: 0;
  height: 58px;
}

.margin {
  margin-left: 25px;
  margin-right: 25px;
}

.button {
  background: white;
  color: grey;
  width: 150px;
  height: 40px;
  line-height: 35px;
  font-size: 17px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 2px solid rgba(0,0,0,0.3);
}

.btn-sign-in-out {
  background: coral;
  color: white;
  width: 150px;
  height: 40px;
  line-height: 35px;
  font-size: 17px;
  text-align: center !important;
  position: relative;
  left: 43.5%;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 2px solid rgba(0,0,0,0.3);
}

.btn-password {
  background: coral;
  color: white;
  width: 205px;
  height: 40px;
  line-height: 35px;
  font-size: 17px;
  text-align: center !important;
  position: relative;
  left: 41%;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 2px solid rgba(0,0,0,0.3);
}

.btn-sign-up {
  background: coral;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 2px solid rgba(0,0,0,0.3);
}

.btn-ua {
  color: grey;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.btn-en {
  color: grey;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.mr-20 {
  margin-right: 20px
}

.ml-142 {
  margin-left: 142px;
}

.ml-190 {
  margin-left: 190px;
}

.ml-150 {
  margin-top: 20px;
  margin-left: 150px;
}

.oval-form {
  background: white;
  color: grey;
  width: 260px;
  line-height: 35px;
  font-size: 17px;
  font-family: roboto;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 1px solid grey;
}

.oval-text-input {
  background: white;
  color: grey;
  width: 260px;
  height: 80px;
  line-height: 35px;
  font-size: 17px;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid grey;
}

.s-o-form {
  background: white;
  color: grey;
  width: 210px;
  height: 20px;
  line-height: 0px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 1px solid grey;
}

.s-form {
  background: white;
  color: grey;
  width: 170px;
  height: 20px;
  line-height: 0px;
  font-size: 11px;
  margin: 0 auto;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 100px;
  border: 1px solid grey;
}

.margin-380-10 {
  margin-left: 380px;
  margin-right: 10px;
}

.margin-20-30 {
  margin-left: 20px;
  margin-top: 30px;
}

.margin-50-30 {
  margin-left: 150px;
  margin-top: 30px;
}

.float {
  float: left;
}

.nutritionist_profile_birthday {
  width: 260px;
  text-align: center;
  color: grey;
  margin: 20px auto;
}

#nutritionist_profile_attributes_birthday_3i {
  color: grey;
  font-size: 17px;
  margin: 0 !important;
  padding: 0;
  text-align: center;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid grey;
}

#nutritionist_profile_attributes_birthday_2i {
  color: grey;
  margin: 0 !important;
  padding: 0;
  font-size: 17px;
  text-align: center;
  outline: none;
  border-radius: 0;
  border: 1px solid grey;
}

#nutritionist_profile_attributes_birthday_1i {
  color: grey;
  margin: 0 !important;
  padding: 0;
  font-size: 17px;
  text-align: center;
  outline: none;
  border-radius: 0 20px 20px 0;
  border: 1px solid grey;
}

.client_profile_birthday {
  width: 260px;
  text-align: center;
  color: grey;
  margin: 20px auto;
}

#client_profile_attributes_birthday_3i {
  color: grey;
  font-size: 17px;
  margin: 0 !important;
  padding: 0;
  text-align: center;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid grey;
}

#client_profile_attributes_birthday_2i {
  color: grey;
  margin: 0 !important;
  padding: 0;
  font-size: 17px;
  text-align: center;
  outline: none;
  border-radius: 0;
  border: 1px solid grey;
}

#client_profile_attributes_birthday_1i {
  color: grey;
  margin: 0 !important;
  padding: 0;
  font-size: 17px;
  text-align: center;
  outline: none;
  border-radius: 0 20px 20px 0;
  border: 1px solid grey;
}

.img-form-for-pictures {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 30px;
}

.alert_custom {
  overflow: hidden;
  position: absolute;
}

