.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-img-up-index {
  width: 100%;
  height: 200px;
  margin-bottom: 14px;
}

.card-img-top-index {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  margin-bottom: 14px;
  margin-top: 25px;
  margin-left: 15px;
}

.card-img-top-show {
  width: 100%;
  height: 359px;
  object-fit: cover;

}

.card-img-top-edit {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  margin-bottom: 14px;
}

.img-square-wrapper {
  width: 250px;
  height: 244px;
}

.btn {
  background-color: coral;
  color: white;
  border-radius: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.btn-outline-primary {
  color: #fff;
  background-color: #ff6138;
  border-color: #ff6138;
  margin-bottom: 3px;
}

#diet_buttons {
  padding-left: 30px;
  padding-right: 30px;
}

#custom_diet_button {
  position: absolute;
  top: 85%;
  left: 45%;
  padding-left: 30px;
  padding-right: 30px;
}

#place_for_text {
  position: absolute;
  top: 40%;
  width: 100%;
  color: #fff;
}

#place_for_avail_recipes {
  position: absolute;
  top: 55%;
  width: 100%;
  color: #fff;
}

#round_recipe_image {
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  width:150px;
  height:150px;
  margin-top: 25px;
  margin-left: 15px;
}

#round_image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.display_recipes {
  margin: 0 15%;
  border:1px solid #dfdfdf;
  height: 200px;
}

.recepies_params{
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.ml-30 {
  margin-left: -30px
  }

.ml-15 {
  margin-left: -15px
  }

#cook_this_button {
  display: block;
  position: relative;
  margin-right: 10px;
  margin-top: 45px;
}

.container_new {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 12%;
}

#headline {
  margin-left: 230px;
}

#headline-2 {
  margin-left: 145px;
}

#recipes_title {
  margin-left: 170px;
}
