.container {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}

#intro {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url(https://images.indianexpress.com/2018/12/Food-trends-Getty-Images-759.jpg?w=759) no-repeat;
  background-image: url(https://images.indianexpress.com/2018/12/Food-trends-Getty-Images-759.jpg?w=759);
  background-position-x: initial;
  background-position-y: initial;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
  margin-bottom: 5rem;
}

#intro .site-heading {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
}

#intro #intro-image {
  z-index: 8;
}

#intro #intro-image::before {
  content: '';
  background: url(https://images.indianexpress.com/2018/12/Food-trends-Getty-Images-759.jpg?w=759);
  background-size:cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.col {
  font-size: 20px;
  margin-top: 1rem;
}

.section-header h4::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.card-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.90rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-body{
  flex: 1 1 auto;
  padding: 0;
}

input, prompt {
  color: grey;
}

a {
  color: #495057;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background-color: transparent;
}

.select {
  border-radius: 40px;
  color: grey;
}

.img-fluid {
  max-width: 100%;
  max-height: 60%;
  height: auto;
  padding: 10px 20px;
}

.btn {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.btn-primary {
  color: white;
  background-color: coral;
}

.low-btn {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 5px;
}
