.sign-in-page-top {
	min-height: 200px;
	background-image: asset-data-url("signin-top.jpeg");
	background-size: cover;
  background-attachment: scroll;
  background-position: center;
  margin: 0;
}

.sign-in-page-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.text-title {
	padding-top: 10px;
  font-family: lato;
  font-size: 70px;
  color: white; 
}

.under-text-title {
	text-align: center;
  font-family: lato;
  font-size: 25px;
  color: white;
}

.sign-in {
	padding-top: 30px;
	font-weight: bold;
}

.link-style {
  padding: 5px 10px;
}

.forgot-link-style {
	text-align: center;
	padding: 10px;
	color: black;
}

.forgot-link-style a:hover {
	text-decoration: none;
	color: black;
}

