= simple_form_for @product do |f|
  = f.input :image,    label: false, type: :file
  = f.input :name,     label: (t :name, scope: 'products.new')
  = f.input :category, label: (t :category, scope: 'products.new'), collection: Product::CATEGORIES
  = f.input :kal,      label: (t :kal, scope: 'products.new')
  = f.submit (t :add_product, scope: 'products.new'), class: 'btn btn-primary'
