#headline_for_products
  %h3= t :edit, scope: 'products.edit'
.container
  = simple_form_for(@product, defaults: { required: false }) do |f|
    .row
      .col-4.text-center.ml-2
        = f.input :image, label: false, type: :file
        - if @product.image?
          = image_tag @product.image.url(:medium).to_s, class: 'img-form-for-pictures'

      .col-6.form-label-group
        = f.input :name, label: (t :name, scope: 'products.new')
        = f.input :category, collection: Product::CATEGORIES, label: (t :category, scope: 'products.new')
        = f.input :kal, label: (t :kal, scope: 'products.new')
        .col.text-center
          = f.submit (t :submit, scope: 'products.edit'), class: 'btn btn-primary text-center'

