.container
  #intro
    .site-heading
      = t :title, scope: 'products.index'
      - if policy(:product).create?
        = button_to (t :new_product, scope: 'products.index'), new_product_path, method: :get, class: 'btn btn-primary'
    #intro-image
  .row.ml-5
    - @products.each do |product|
      .col-md-5
        .p-2
          - if product.image?
            = image_tag product.image.url, class: 'img-form-for-pictures'
      .col-md-7
        .p-2.text-center
          %h3= link_to product.name, product_path(product)
          = product.category
          %br
          = product.kal
