#add_product_indentation
  %h3= t :title, scope: 'products.new'
.container
  = simple_form_for(@product, defaults: { required: false })do |f|
    .row.ml-5
      .col-10
        = f.input :name,     label: (t :name, scope: 'products.new')
        = f.input :category, label: (t :category, scope: 'products.new'), collection: Product::CATEGORIES
        = f.input :kal,      label: (t :kal, scope: 'products.new')
        = f.input :image,    label: false, type: :file
        .col.text-center
          = f.submit (t :add_product, scope: 'products.new'), class: 'btn btn-primary'


