.container
  .col.text-center
    - if @product.image?
      = image_tag @product.image.url(:medium), class: 'img-form-for-pictures'
  .row.text-center
    .col
      = t :product_name, scope: 'products.show'
      %br
      %h5= @product.name
    .col
      = t :category, scope: 'products.show'
      %br
      %h5= @product.category
    .col
      = t :calory, scope: 'products.show'
      %br
      %h5= "#{@product.kal} kal per 100g of product"
  .row
    .col-sm-12.text-center
      - if policy(:product).update?
        = button_to (t :edit, scope: 'products.show'), edit_product_path(@product), method: :get, class: 'btn btn-primary mb-2 mt-2'
      - if policy(:product).delete?
        = button_to (t :remove, scope: 'products.show'), @product, method: :delete, class: 'btn btn-primary'

