.container-fluid
  .sign-in-page-top
    .sign-in-page-top-text
      %p.text-title delicio
      %p.under-text-title Makes your life tastier!
  .row
    .col-xs-12.col-md-12
      %h5.custom-font.mb-md-3.text-center.sign-in Sign up as Client
      = simple_form_for(resource, url: user_registration_path(role: :client)) do |f|
        = devise_error_messages!
        = f.input :email, label: false, input_html: { autocomplete: 'email', autofocus: true, placeholder: "Email", class: 'form-control oval-form' }
        = f.input :password, label: false, input_html: { autocomplete: 'current-password', placeholder: "Password", class: 'form-control oval-form' }
        = f.simple_fields_for :profile, resource.build_profile do |c|
          = c.input :first_name, label: false, placeholder: "First name", input_html: { class: 'oval-form form-control' }
          = c.input :last_name, label: false, placeholder: "Last name", input_html: { class: 'form-control oval-form' }
          = c.input :nickname, label: false, placeholder: "Nickname", input_html: { class: 'form-control oval-form' }
          = c.input :how_heard, as: :text, label: false, placeholder: "How heard", input_html: { class: 'form-control oval-text-input' }
          = c.input :birthday, as: :date, input_html: { class: 'form-control oval-form' }, start_year: Date.today.year - 90,
                              end_year: Date.today.year,
                              order: [:day, :month, :year]
        = f.submit "Sign up", class: 'btn-sign-in-out'
      = link_to "Sign in", new_user_session_path, class: 'custom-font form-control s-form float forgot-link-style btn margin-380-10'
      = link_to "Sign up as nutritionist", new_user_registration_path(role: :nutritionist), class: 'custom-font form-control s-form float forgot-link-style btn'
