%h5.nav.custom-font.mr-md-auto.mb-md-2.margin
  = link_to (t :about_us, scope: 'header'), about_us_path, class: 'custom-font margin'

  - if policy(:recipe).index?
    = link_to (t :recipes, scope: 'header'), recipes_path, class: 'custom-font margin'

  - if policy(:diet).index?
    = link_to (t :diets, scope: 'header'), diets_path, class: 'custom-font margin'

  - if policy(:article).index?
    = link_to (t :articles, scope: 'header'), articles_path, class: 'custom-font margin'

  - if policy(:topic).index?
    = link_to (t :topics, scope: 'header'), topics_path, class: 'custom-font margin'

= link_to 'en', locales_path(locale: :en), method: :put, class: 'custom-font btn-en'
|
= link_to 'ua', locales_path(locale: :ua), method: :put, class: 'custom-font btn-ua mr-20'
- if current_user
  = link_to (t :log_out, scope: 'header'), destroy_user_session_path, method: :delete, class: 'custom-font button'
- else
  = link_to (t :sign_in, scope: 'header'), new_user_session_path, class: 'custom-font button'
