!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Delicio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      = render 'layouts/header'
      .container
        - flash.each do |type, msg|
          %div{class: "alert #{bootstrap_class_for_flash(type)} alert-dismissable alert_custom"}
            = msg
            %button.close{"data-dismiss" => "alert"} x
    %main.container
      = yield
    %footer
      = render 'layouts/footer'
